body, html {
    font: 14px 'Ubuntu', sans-serif;
    color: #DEDEDE;
}

h2 {
    font: 18px 'Ubuntu', sans-serif;
    margin: 0px;
}

h3 {
    font: 30px 'Rokkitt', serif;
    font-weight: 600;
    color: silver;
    margin: 0px;
}

h4 {
    font: 20px 'Rokkitt', erif;
    font-weight: 200;
    color: silver;
    border-bottom: 1px solid silver;
    margin: 0px 0px 10px 0px;
}

a:link {
    color: silver;
}

a:visited {
    color: #b2b2b2;
}

a:hover {
    color: hotpink;
}

.menubar {
    font: 15px "Ubuntu", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(50, 50, 50, .95);
    border-radius: 10px;
}

.menubar li {
    float: left;
    border-right: 1px solid silver;
}

.menubar li a {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    color: #DEDEDE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menubar li a:hover:not(.active) {
    background-color: #111;
}

.menubar li:last-child {
    border-right: none;
    border-left: 1px solid silver;

}

.textBox {
    background-color: rgba(100, 100, 100, .33);
    margin: 10px 0px;
    border-color: rgba(100, 100, 100, .33);
    border-radius: 5px;
    padding: 10px;
    display: none;
    width: 400px;
}

.textArea {
    border: 1px solid silver;
    background-color: rgba(10, 10, 10, .80);
    padding: 14px;
}


.textArea p {
    line-height: 1.3em;
    word-spacing: 0.15em;
    margin-left: 20px;
}

.close {
    width: 15px;
    height: 15px;
    border: transparent;
    background: url("icons/redx.png");
    background-size: 15px 15px;
    margin: 6px;
    float: right;
}